##  TRANSITION MATRIX PARAMETERS
# threshold of variation from row stochasticity used to re-normalize matrix orientation
transition_correction_threshold: 0.000001
# set the stochastic orientation of the input transition matrix
transition_stochasitc_orientation: row

##  SCENARIO AND SIMULATION INFORMATION
# get the dataset to work from (corresponds with subdirectories in the ref/dataset directory)
dataset: cuban_missile_crisis
# for simulation, default number of runs
default_num_runs: 1000
# for simulation, default number of time steps
default_num_time_steps: 100
# for simulation, what (default) set of times to use
default_transition_scenario: 0

##  MODEL SPECIFICATION VARIABLES
# specify variables below - these should match up with variables specified in the data frame input CSV.
# If the model_specification dataframe specifies variables that are not defined here, then an error will be returned
# the variable is mapped to a default value used for single runs
variable_A: 0.3
variable_p: 0.125
